.header {
  background-color: #303030;
}

.header h1 {
  color: rgb(255, 255, 255);
}

.header p {
  color: rgb(255, 255, 255);
}

.aside {
  display: block;
  padding-left: 5px;
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 25%;
}

.main {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 73%;
  border-left: none;
  background-color: lightgray;
}