* {
  box-sizing: border-box;
}

/* styling for header div */
.header {
  background-color: #303030;
  display: inline-block;
  width: 100%;
}

.header img {
  vertical-align: middle;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 20px;
  float: left;
  margin-left: 2em;
  margin-right: 5em;
}

.header h1 {
  color: rgb(255, 255, 255);
}

.header p {
  color: rgb(255, 255, 255);
}

#occupation {
  font-weight: bolder;
  padding-bottom: 2em;
}

/* styling for aside div */
.aside {
  display: block;
  padding-left: 10px;
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 25%;
  max-height: fit-content;
}

.aside h4 {
  padding-top: 2em;
}

.aside img {
  padding-left: 25px;
  width: 60%;
  height: 60%;
}

.referees li {
  font-weight: 500;
  padding-bottom: 2.78em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* styling for main div */
.main {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 75%;
  border-left: none;
  background-color: lightgray;
}

.main h2:before {
  content:"\a";
  white-space: pre;
}

.main h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main h5 {
  font-weight: lighter;
}

.main ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px 12px;
  border-radius: 10px;
}

.main a {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.github {
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}